@model IEnumerable<PROYECTO2025._APPMVCCodeFirst.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Crear Nuevo</a>
</p>